body {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    background: url(../image/bg-desktop.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--violet);
    max-width: 1440px;
    margin: auto;
}

.container {
    display: grid;
    grid: "column-1 column-2" 95% "social social" 5% /60% 40%;
    margin: auto;
}

.column-1 {
    grid-area: column-1;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    flex-direction: column;
    margin:30px;
}

.column-1 .logo {
    padding-bottom: 60px;
}

.column-1 .div-img {
    display: flex;
}

.column-1 .div-img .illustration-mockups {
    flex-shrink: 1;
    min-width: 400px    
}

.column-2 {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    color: var(--default-color-font);
    padding-top: 70px;
    padding-right: 20px;
    grid-area: column-2;
}

.column-2 h1 {
    display: flex;
    flex-shrink: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 2.6rem;
    line-height: 4rem;
    padding-right: 50px;
}

.column-2 p {
    display: flex;
    flex-shrink: 1;
    padding: 30px 0;
    font-size: 1.2rem;
}

.column-2 .button {
    display: flex;
}

.column-2 .button a {
    text-align: right;
    font-size: 1.3rem;
    padding: 10px 60px;
    border-radius: 50vh;
    box-shadow: 5px 5px 15px #35255a;
    background-color: #fff;
    color: var(--violet);
    transition: 0.4s;
}

.column-2 .button a:hover {
    background-color: var(--soft-magenta);
    color: var(--default-color-font);
}

.social {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
}

.social nav a {
    color: var(--default-color-font);
    font-size: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--default-color-font);
    padding: 10px 15px;
    margin: 10px;
    transition: 0.3s;
}

.social nav a:first-child {
    padding: 10px 20px;
}

.social nav a:hover {
    color: var(--soft-magenta);
    border-radius: 50%;
    border: 1px solid var(--soft-magenta);
}